.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the container takes up the full viewport height */
}

.forgot-password-link {
  display: block;
  margin-top: 10px;
  text-align: center;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/*Extra Added*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.border-form {
  border: 1px solid #260d0d;
  padding: 40px;
}

.custom-submit-btn {
  background-color: #21092b28; /* Your desired color */
  border-color: #270e3c; /* Border color */
  color: rgb(11, 6, 6); /* Text color */
  margin-right: 10px;

 
}

.custom-clear-btn {
  background-color: #859022c3; /* Your desired color */
  border-color: #08090a; /* Border color */
  color: white; /* Text color */
  
}